{{#with Book}}
    <form action="" method="POST" role="form">
        <div class="mod-login">
            <div class="mod-login-col1"style="width: 350px;">
                <div class="mod-input">
                    <label style="font-size: 14px">Mã sách</label>
                    <input type="text" placeholder="Nhập giá sách" data-meta="Field" name="idSach"value="{{idSach}}">
                    <b></b>
                    <span></span>

                </div>
                <div class="mod-input">
                    <label style="font-size: 14px">Tên sách</label>
                    <input type="text" placeholder="Nhập tên sách" data-meta="Field" value="{{ten_sach}}"name="ten_sach">
                    <b></b>
                    <span></span>
                </div>

                <div class="mod-input">
                    <label style="font-size: 14px">Nhà xuất bản</label>
                    <select id="idNhaSX"value="{{idNhaSX}}"name="idNhaSX"class="form-control"style="border: 1px solid #5bb7c3;border-radius: 36px;font-size: 14px;height: 40px;">
                        <option value="{{idNhaSX}}" hidden="hidden" selected>{{tenNhaSX}}</option>

                        <option value="1" >Văn học</option>
                        <option value="2">Tổng hợp TPHCM</option>
                        <option value="3" >Xuất bản trẻ</option>
                    </select>

                </div>

            </div>
            <div class="mod-login-col2" style="width: 350px;">
                <div class="mod-input">
                    <label style="font-size: 14px">Giá sách</label>
                    <input type="text" placeholder="Nhập giá sách" data-meta="Field" name="giaBan"value="{{number_format giaBan}}">đ
                    <b></b>
                    <span></span>

                </div>
                <div class="mod-input">
                    <label style="font-size: 14px">Tác giả</label>
                    <input type="text" placeholder="Nhập tên tác giả" data-meta="Field" value="{{tac_gia}}"name="tac_gia">
                    <b></b>
                    <span></span>

                </div>

                <div class="mod-input" >
                    <label style="font-size: 14px">Loại sách</label>
                    <select id="idLoai"NAME="idLoai" class="form-control"style="border: 1px solid #5bb7c3;border-radius: 16px;font-size: 14px;height: 40px;">
                        <option value="{{idLoai}}" hidden="hidden" selected>{{tenLoai}}</option>

                        <option value="1" >Văn học trẻ</option>

                        <option value="2" >Kinh tế</option>

                        <option value="3" >Thường thức - đời sống</option>


                    </select>

                </div>
            </div>



        </div>


        <div class="form-row subscribe-outer" style="width: 18%;margin-left: 600px;margin-top: -40px">
            <button type="submit" class="button-default ygradient1 " >CẬP NHẬT</button>
        </div>

        <!--<button type="submit" class="btn btn-primary">-->
            <!--<span class="glyphicon glyphicon-save"></span>-->
            <!--Update-->
        <!--</button>-->
    </form>

{{/with}}
